In [21]:
import psycopg2
import sys, os
import pandas as pd
import numpy as np
import random
import itertools

In [4]:
district = pd.read_csv("district.csv")
district.csv_path = 'district.csv'
street = pd.read_csv("street.csv")
street.csv_path = 'street.csv'
province = pd.read_csv("province.csv")
province.csv_path = 'province.csv'
domain = pd.read_csv("domain.csv")
domain.csv_path = 'domain.csv'
ranking = pd.read_csv("rank.csv")
ranking = ranking[['hotel_id', 'rank_score']]
ranking.csv_path = 'rank.csv'
info = pd.read_csv("info.csv")
info.csv_path = 'info.csv'
quality = pd.read_csv("quality.csv")
quality.csv_path = 'quality.csv'
review = pd.read_csv("review.csv")
review.csv_path = 'review.csv'
hotel = pd.read_csv("hotel.csv")
hotel.drop(["logo", "check_in_time", "check_out_time", "description", "min_price_domain"], axis=1, inplace=True)
hotel.csv_path = 'hotel.csv'
url = pd.read_csv("url_new.csv")
url.csv_path = 'url.csv'

FileNotFoundError: [Errno 2] No such file or directory: 'quality_new.csv'

In [195]:
database = [district, street, province, domain, ranking, info, quality, review, hotel, url]

In [196]:
for df in database:
    for column in df.columns:
        if "Unnamed: 0" in column:
            df.drop(column, axis = 1, inplace=True)
    df.to_csv(df.csv_path, sep = ',', index= False)

In [199]:
hotel

,id,name,address,lat,long,star_number,street_id,district_id,province_id
0,71,Canary Hotel,"37 Nguyễn Công Trứ, Thành Phố Huế, Thừa Thiên ...",16.471527,107.596959,2,27718.0,275.0,1
1,77,Khách Sạn Imperial Huế (Imperial Hotel Hue),"8 Hùng Vương Bùng binh Hùng Vương, Thành Phố H...",16.465359,107.592861,5,27810.0,275.0,1
2,123,Indochine Palace Hotel,"105A Hùng Vương, Thành Phố Huế, Thừa Thiên - Huế",16.460985,107.597834,5,519.0,275.0,1
3,143,Century Riverside Hue Hotel,"Số 49 Lê Lợi, Thành Phố Huế, Thừa Thiên - Huế",16.470469,107.593848,4,27705.0,275.0,1
4,206,Khách sạn Huế Smile ( Hue Smile Hotel ),"175-177 Bà Triệu, Thành Phố Huế, Thừa Thiên - Huế",16.462310,107.600153,3,27647.0,275.0,1
...,...,...,...,...,...,...,...,...,...
16502,47673,Vista Verde,"8 Nguyễn Thanh Sơn, Q.2, Việt Nam, TP. Hồ Chí ...",10.774800,106.755350,3,NaN,NaN,33
16503,47677,Donastay Rivergate HCM,"151 Bến Vân Đồn, Q.4, TP.Hồ Chí Minh",10.762765,106.698679,3,NaN,NaN,33
16504,47680,Celine Home Saigon Royal Residences,"34-35 Bến Vân Đồn, P.12, Q.4, TP.Hồ Chí Minh, ...",10.767000,106.704000,3,NaN,NaN,33
16505,47681,Millenium Apartment,"132 Bến Vân Đồn, Q.4, TP.Hồ Chí Minh",10.763596,106.699567,3,NaN,NaN,33
16506,47684,Landmark Inn,"208 Nguyễn Hữu Cảnh, Q.Bình Thạnh, Tầng 25, Vi...",10.794520,106.720450,3,NaN,NaN,33

In [205]:
hotel[ hotel["street_id"] < 33872 ].to_csv("hotel.csv", sep=',', index=False)

In [207]:
hotel = hotel[ hotel["street_id"] < 33872 ]

In [208]:
hotel_id = {'hotel_id' : hotel['id']}
df1 = pd.DataFrame(data = hotel_id)
df1

       hotel_id
0            71
1            77
2           123
3           143
4           206
...         ...
16174     45806
16175     45814
16176     45817
16482     47612
16490     47630

[6428 rows x 1 columns]

In [209]:
hotel_info = pd.merge(df1, info, on = 'hotel_id', how='left')
#hotel_info.to_csv("info.csv", sep = ',', index= False)

In [211]:
hotel_info.to_csv("info.csv", sep=',', index=False)

In [212]:
hotel_quality = pd.merge(df1, quality, on = 'hotel_id', how='left')
#hotel_info.to_csv("info.csv", sep = ',', index= False)

In [213]:
hotel_quality.to_csv("quality.csv", sep=',', index=False)

In [214]:
rank = pd.merge(df1, ranking, on = 'hotel_id', how='left')
#hotel_info.to_csv("info.csv", sep = ',', index= False)

In [215]:
rank.to_csv("rank.csv", sep=',', index=False)

In [255]:
url = pd.read_csv("url_new.csv")
url.csv_path = 'url.csv'

In [256]:
url = pd.merge(df1, url, on = 'hotel_id', how='left')
url = url[['domain_id', 'hotel_id', 'domain_hotel_id', 'url', 'min_price']]
url

,domain_id,hotel_id,domain_hotel_id,url,min_price
0,4.0,71,3.932056e+06,-1,398268.0
1,2.0,71,1.000000e+12,https://m.traveloka.com/vi-vn/hotel/vietnam/ca...,450000.0
2,5.0,71,2.515000e+05,https://www.booking.com/hotel/vn/canary.vi.html,500000.0
3,3.0,71,1.868190e+05,/vi-vn/canary-hue-hotel/hotel/hue-vn.html,311688.0
4,3.0,77,7.062400e+04,/vi-vn/imperial-hotel-hue/hotel/hue-vn.html,-1.0
...,...,...,...,...,...
13767,3.0,47612,1.613893e+07,/vi-vn/cozrum-homes-saphera-residence/hotel/ho...,223723.0
13768,4.0,47612,5.531307e+07,-1,273037.0
13769,3.0,47630,1.642761e+07,/vi-vn/cozrum-homes-ambera-house/hotel/ho-chi-...,276890.0
13770,4.0,47630,5.502824e+07,-1,302357.0
13771,2.0,47630,9.000001e+12,https://m.traveloka.com/vi-vn/hotel/vietnam/co...,395026.0

In [257]:
url['hotel_id'] = url['hotel_id'].astype(int)
url['domain_id'] = url['domain_id'].fillna(1).astype(int)
url.to_csv("url.csv", sep=',', index=False)

In [258]:
review.head()

,domain_hotel_id,lang_code,review_datetime,title,text,score,domain_id,root_id
0,2315342,en-us,2020-07-19 05:47:28,Một nơi ở thực sự bình yên và rất thuận tiện t...,NaN,4.0,5,39149
1,4496382,en-gb,2020-02-27 18:11:41,Dễ chịu,Big bathroom and room. Not too far from the be...,2.8,5,45423
2,2491192,vi,2020-08-19 21:30:18,"Nhân viên thân thiện nhiệt tình, phòng nghỉ sạ...","Ấn tượng, tôi sẽ quay lại vào dịp nghỉ lần sau",4.0,5,42764
3,2468935,vi,2020-07-31 05:59:13,Tuyệt đẹp,"Quá tuyệt vời , view đẹp , chủ nhà thân thiện ...",4.0,5,43012
4,2491192,vi,2020-07-20 07:17:57,Tàm tạm,view bỉnh thường gần trung tâm,2.0,5,42764

In [259]:
review.columns

Index(['domain_hotel_id', 'lang_code', 'review_datetime', 'title', 'text',
       'score', 'domain_id', 'root_id'],
      dtype='object')

In [261]:
review.drop(['domain_hotel_id', 'lang_code'], axis=1, inplace = True)

In [270]:
review = review[['root_id', 'domain_id', 'review_datetime', 'title', 'text', 'score']]
review = review.rename(columns={'root_id': 'hotel_id'})
review

KeyError: "['root_id'] not in index"

In [271]:
review = pd.merge(df1, review, on = 'hotel_id', how='left')

In [275]:
review['domain_id'] = review['domain_id'].fillna(1).astype(int)
review.to_csv('review.csv', sep = ',', index=True)

In [10]:
hotel = pd.read_csv('hotel.csv')

In [11]:
hotel.head()

,id,name,address,lat,long,star_number,street_id,district_id,province_id
0,71,Canary Hotel,"37 Nguyễn Công Trứ, Thành Phố Huế, Thừa Thiên ...",16.471527,107.596959,2,27718.0,275.0,1
1,77,Khách Sạn Imperial Huế (Imperial Hotel Hue),"8 Hùng Vương Bùng binh Hùng Vương, Thành Phố H...",16.465359,107.592861,5,27810.0,275.0,1
2,123,Indochine Palace Hotel,"105A Hùng Vương, Thành Phố Huế, Thừa Thiên - Huế",16.460985,107.597834,5,519.0,275.0,1
3,143,Century Riverside Hue Hotel,"Số 49 Lê Lợi, Thành Phố Huế, Thừa Thiên - Huế",16.470469,107.593848,4,27705.0,275.0,1
4,206,Khách sạn Huế Smile ( Hue Smile Hotel ),"175-177 Bà Triệu, Thành Phố Huế, Thừa Thiên - Huế",16.462310,107.600153,3,27647.0,275.0,1

In [12]:
ids = hotel['id'].to_numpy()

In [13]:
def generate_random_instance(x):
    a = []
    for i in range(0, random.randint(1, 20)):
        a.append(x)
    return a

In [14]:
array = np.array([generate_random_instance(id1) for id1 in ids]).flatten()
array

array([list([71, 71, 71, 71]),
       list([77, 77, 77, 77, 77, 77, 77, 77, 77, 77, 77, 77, 77, 77, 77, 77, 77, 77]),
       list([123, 123, 123, 123, 123, 123, 123, 123, 123, 123, 123, 123, 123, 123, 123, 123, 123]),
       ..., list([45817, 45817, 45817, 45817]),
       list([47612, 47612, 47612, 47612, 47612, 47612, 47612, 47612, 47612, 47612, 47612, 47612]),
       list([47630, 47630])], dtype=object)

In [24]:
arr = list(itertools.chain(*array))
arr

[71,
 71,
 71,
 71,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 123,
 143,
 143,
 143,
 143,
 143,
 143,
 143,
 143,
 206,
 206,
 206,
 206,
 206,
 206,
 206,
 206,
 206,
 206,
 206,
 206,
 206,
 206,
 262,
 262,
 262,
 262,
 262,
 262,
 262,
 262,
 262,
 262,
 262,
 262,
 262,
 262,
 262,
 331,
 331,
 343,
 416,
 446,
 446,
 446,
 446,
 446,
 446,
 446,
 446,
 446,
 446,
 446,
 447,
 447,
 447,
 447,
 447,
 447,
 447,
 447,
 447,
 447,
 447,
 447,
 462,
 462,
 462,
 462,
 462,
 462,
 462,
 462,
 462,
 462,
 462,
 662,
 662,
 662,
 662,
 662,
 662,
 662,
 662,
 662,
 662,
 662,
 662,
 662,
 662,
 662,
 662,
 662,
 662,
 662,
 662,
 695,
 695,
 695,
 695,
 695,
 695,
 695,
 695,
 695,
 695,
 695,
 695,
 695,
 695,
 695,
 695,
 707,
 707,
 707,
 707,
 707,
 707,
 707,
 765,
 765,
 765,
 765,
 765,
 765,
 765,
 765,
 765,
 765,
 765,
 765,
 765,
 765,
 765,
 769,
 769,
 769,
 769,
 769,
 953,
 953,
 953,
 953,
 953,
 953,
 953,
 953,
 953,
 953,
 953,
 953,
 953,
 953,
 959,
 959,
 959,
 959,
 959,
 1087,
 1087,
 1087,
 1087,
 1087,
 1087,
 1087,
 1087,
 1087,
 1087,
 1106,
 1106,
 1106,
 1106,
 1106,
 1106,
 1106,
 1106,
 1106,
 1106,
 1106,
 1106,
 1106,
 1106,
 1106,
 1106,
 1106,
 1106,
 1262,
 1262,
 1262,
 1262,
 1262,
 1262,
 1262,
 1262,
 1400,
 1400,
 1400,
 1400,
 1400,
 1400,
 1400,
 1400,
 1400,
 1400,
 1400,
 1400,
 1400,
 1400,
 1400,
 1400,
 1400,
 1400,
 1551,
 1551,
 1551,
 1551,
 1551,
 1551,
 1551,
 1551,
 1551,
 1551,
 1551,
 1551,
 1551,
 1551,
 1551,
 1551,
 1551,
 1551,
 1551,
 1551,
 1784,
 1784,
 1784,
 1784,
 1784,
 1784,
 1878,
 1878,
 1878,
 1878,
 1878,
 1878,
 1926,
 1926,
 1926,
 1926,
 1926,
 1926,
 1926,
 1926,
 1954,
 1954,
 1954,
 1954,
 1954,
 1954,
 1954,
 1954,
 1954,
 1954,
 1954,
 1988,
 1988,
 1988,
 1988,
 1988,
 1988,
 1988,
 1988,
 1988,
 1988,
 1988,
 1988,
 1988,
 1988,
 1988,
 2041,
 2041,
 2041,
 2041,
 2041,
 2041,
 2041,
 2041,
 2041,
 2041,
 2041,
 2041,
 2041,
 2041,
 2041,
 2041,
 2041,
 2114,
 2114,
 2114,
 2114,
 2114,
 2114,
 2114,
 2114,
 2114,
 2114,
 2114,
 2114,
 2114,
 2114,
 2114,
 2114,
 2114,
 2114,
 2144,
 2144,
 2144,
 2144,
 2144,
 2144,
 2144,
 2144,
 2144,
 2144,
 2144,
 2144,
 2144,
 2350,
 2350,
 2350,
 2350,
 2350,
 2350,
 2350,
 2350,
 2350,
 2350,
 2350,
 2350,
 2350,
 2350,
 2350,
 2376,
 2431,
 2451,
 2451,
 2451,
 2451,
 2451,
 2451,
 2451,
 2451,
 2451,
 2451,
 2451,
 2451,
 2451,
 2461,
 2461,
 2461,
 2461,
 2461,
 2461,
 2461,
 2461,
 2636,
 2636,
 2636,
 2636,
 2636,
 2636,
 2636,
 2649,
 2649,
 2649,
 2649,
 2649,
 2649,
 2665,
 2665,
 2665,
 2665,
 2665,
 2665,
 2665,
 2665,
 2665,
 2665,
 2665,
 2665,
 2665,
 2665,
 2665,
 2665,
 2665,
 2665,
 2665,
 2677,
 2691,
 2691,
 2691,
 2691,
 2691,
 2691,
 2772,
 2772,
 2772,
 2772,
 2772,
 2772,
 2772,
 2772,
 2772,
 2772,
 2918,
 2918,
 2918,
 2918,
 2918,
 2918,
 2918,
 2918,
 2918,
 2918,
 2918,
 2918,
 2918,
 2918,
 2918,
 2984,
 2984,
 2984,
 2984,
 2984,
 2984,
 3062,
 3062,
 3062,
 3062,
 3062,
 3062,
 3062,
 3062,
 3062,
 3062,
 3062,
 3160,
 3160,
 3160,
 3160,
 3160,
 3160,
 3160,
 3160,
 3160,
 3160,
 3160,
 3160,
 3160,
 3160,
 3160,
 3160,
 3160,
 3160,
 3191,
 3191,
 3191,
 3191,
 3191,
 3191,
 3191,
 3191,
 3191,
 3266,
 3266,
 3266,
 3266,
 3295,
 3295,
 3295,
 3295,
 3295,
 3295,
 3295,
 3295,
 3295,
 3295,
 3295,
 3315,
 3315,
 3315,
 3315,
 3315,
 3315,
 3315,
 3315,
 3315,
 3315,
 3315,
 3315,
 3315,
 3315,
 3315,
 3315,
 3315,
 3315,
 3315,
 3315,
 3317,
 3317,
 3317,
 3317,
 3317,
 3317,
 3317,
 3317,
 3361,
 3361,
 3361,
 3361,
 3361,
 3361,
 3361,
 3361,
 3361,
 3368,
 3368,
 3368,
 3368,
 3368,
 3368,
 3368,
 3368,
 3368,
 3368,
 3368,
 3368,
 3368,
 3477,
 3477,
 3477,
 3477,
 3477,
 3477,
 3477,
 3477,
 3477,
 3477,
 3477,
 3477,
 3477,
 3477,
 3477,
 3544,
 3544,
 3544,
 3544,
 3544,
 3544,
 3544,
 3544,
 3544,
 3544,
 3544,
 3544,
 3544,
 3544,
 3544,
 3544,
 3544,
 3565,
 3565,
 3565,
 3565,
 3565,
 3565,
 3565,
 3565,
 3565,
 3565,
 3565,
 3565,
 3565,
 3604,
 3604,
 3604,
 3617,
 3617,
 3617,
 3617,
 3617,
 3617,
 4217,
 4217,
 4217,
 4217,
 4273,
 4273,
 4282,
 4282,
 4282,
 4282,
 4282,
 4282,
 4282,
 4282,
 4282,
 4282,
 4282,
 4282,
 4282,
 4282,
 4352,
 4352,
 4352,
 4352,
 4352,
 4352,
 4352,
 4352,
 4352,
 4352,
 4352,
 4352,
 4455,
 4455,
 4455,
 4455,
 4455,
 4455,
 4455,
 4455,
 4455,
 4455,
 4455,
 4455,
 4455,
 4455,
 4455,
 4455,
 4455,
 4501,
 4501,
 4516,
 4539,
 4539,
 4539,
 4539,
 4539,
 4539,
 4539,
 4539,
 4539,
 4567,
 4567,
 4567,
 4567,
 4567,
 4567,
 4578,
 4578,
 4578,
 4718,
 4718,
 4718,
 4718,
 4718,
 4718,
 4718,
 4718,
 4718,
 4718,
 4750,
 4750,
 4750,
 4750,
 4750,
 4750,
 4750,
 4750,
 4750,
 4750,
 4750,
 4750,
 4750,
 4750,
 4750,
 4825,
 4825,
 4825,
 4825,
 4825,
 4825,
 4825,
 4825,
 4825,
 4825,
 4825,
 4825,
 4825,
 4825,
 4825,
 4825,
 4825,
 4966,
 4966,
 4966,
 4966,
 4966,
 4966,
 4966,
 4966,
 4966,
 4966,
 5077,
 5077,
 5077,
 5077,
 5077,
 5077,
 5077,
 5077,
 5077,
 5077,
 5077,
 5077,
 5268,
 5268,
 5268,
 5268,
 5268,
 5268,
 5268,
 5268,
 5873,
 5909,
 5909,
 6265,
 6265,
 6265,
 6391,
 6391,
 6391,
 6410,
 6410,
 6410,
 6410,
 6410,
 6410,
 6410,
 6410,
 6410,
 6410,
 6410,
 6410,
 6410,
 6410,
 6949,
 6949,
 6949,
 6949,
 6949,
 6949,
 6949,
 6949,
 6949,
 6949,
 6986,
 6986,
 6986,
 6986,
 6986,
 6986,
 6986,
 6986,
 6986,
 6986,
 7046,
 7046,
 7046,
 7046,
 7046,
 7046,
 7046,
 7046,
 7046,
 7046,
 7046,
 7046,
 7046,
 7046,
 7046,
 7046,
 7046,
 7131,
 7131,
 7131,
 7131,
 7131,
 7589,
 7589,
 7589,
 7589,
 7919,
 7919,
 7919,
 7919,
 7919,
 7919,
 7919,
 7919,
 7919,
 7919,
 7919,
 7919,
 7919,
 8721,
 8721,
 8721,
 8721,
 8721,
 8721,
 8721,
 8721,
 8721,
 8721,
 8721,
 8721,
 8721,
 8722,
 8722,
 8722,
 8722,
 8722,
 8722,
 8722,
 8722,
 8722,
 8722,
 8722,
 8722,
 8725,
 8725,
 8725,
 8728,
 8728,
 8728,
 8728,
 8728,
 8728,
 8728,
 8728,
 8728,
 8728,
 8728,
 8728,
 8728,
 8728,
 8728,
 8728,
 8728,
 8728,
 8734,
 8734,
 8734,
 8734,
 8734,
 8734,
 8734,
 8734,
 8734,
 8734,
 8734,
 8734,
 8734,
 8734,
 8734,
 8735,
 8735,
 8735,
 8737,
 8737,
 8737,
 8739,
 8739,
 8739,
 8739,
 8739,
 8739,
 8739,
 8739,
 8739,
 8739,
 8739,
 8739,
 8918,
 8918,
 8918,
 8918,
 8918,
 8918,
 8918,
 8918,
 8918,
 8918,
 8918,
 8918,
 8918,
 8918,
 9703,
 9703,
 9703,
 9703,
 9703,
 9703,
 9703,
 9703,
 9703,
 9703,
 9703,
 9703,
 9810,
 9810,
 9810,
 9810,
 9810,
 9810,
 9810,
 9810,
 9810,
 9869,
 9869,
 9869,
 9869,
 9869,
 9869,
 9869,
 9869,
 9869,
 9869,
 9869,
 9869,
 9869,
 9869,
 9869,
 9869,
 9869,
 9893,
 9893,
 9893,
 9893,
 9893,
 9893,
 9893,
 9893,
 9893,
 9893,
 9893,
 21653,
 21653,
 21653,
 22166,
 22166,
 ...]

In [26]:
df1 = pd.DataFrame(arr, columns=['hotel_id'])
df1

       hotel_id
0            71
1            71
2            71
3            71
4            77
...         ...
67843     47612
67844     47612
67845     47612
67846     47630
67847     47630

[67848 rows x 1 columns]

In [79]:
hotel_price = pd.read_csv("/Users/nguyentuandung/hotel/Hotel_metasearch_backend/hotel/management/data/root_update_price.csv")

In [80]:
hotel_price.columns

Index(['Unnamed: 0', 'id', 'name', 'address', 'logo', 'lat', 'long',
       'star_number', 'check_in_time', 'check_out_time', 'description',
       'street_id', 'district_id', 'province_id', 'min_price_domain'],
      dtype='object')

In [81]:
data = {'hotel_id' : hotel_price['id'], 'price' : round(hotel_price['min_price_domain'], -3)}
hotel_price = pd.DataFrame(data)

In [82]:
hotel_price

       hotel_id    price
0            71   312000
1            77  9450000
2           123  1921000
3           143   837000
4           206   448000
...         ...      ...
16502     47673        0
16503     47677   829000
16504     47680   757000
16505     47681   842000
16506     47684  1364000

[16507 rows x 2 columns]

In [83]:
hotel_price = pd.merge(df1, hotel_price, on = 'hotel_id', how='left')

In [85]:
hotel_price = hotel_price[['hotel_id', 'price']]
hotel_price

       hotel_id    price
0            71   312000
1            71   312000
2            71   312000
3            71   312000
4            77  9450000
...         ...      ...
67843     47612   224000
67844     47612   224000
67845     47612   224000
67846     47630   277000
67847     47630   277000

[67848 rows x 2 columns]

In [86]:
hotel_price.to_csv("rooms.csv", sep=',', index=True)

In [91]:

ho

/Users/nguyentuandung/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexes/base.py:4307: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [93]:
ho.to_csv("rooms.csv", sep=',', index=False)